@model Landlord_project.Models.ResidenceModel
<div class="col-sm-12 mb-3">
    <div class="row no-gutters">
        <div class="col-sm-6">
            <img class="img-fluid" alt="Image of @Model.Address" src="@Url.Action("GetResidenceImage", "Home", new { Id = Model.Id})" />
        </div>
        <div class="col-sm-6 border p-2">
            <div class="col-sm-12">
                <label asp-for="@Model.Address"></label>
                <span>@Model.Address</span>
            </div>
            <div class="col-sm-12">
                <label asp-for="@Model.Area"></label>
                <span>@Model.Area</span>
            </div>
            <div class="col-sm-12">
                <label asp-for="@Model.Rooms"></label>
                <span>@Model.Rooms st</span>
            </div>
            <div class="col-sm-12">
                <label asp-for="@Model.Size"></label>
                <span>@Model.Size m²</span>
            </div>
            <div class="col-sm-12">
                <label asp-for="@Model.RentalPrice"></label>
                <span>@Model.RentalPrice kr</span>
            </div>
            <div class="col-sm-12">
                <i class="far fa-calendar-alt"></i>
                <label asp-for="@Model.AvailableFrom"></label>
                <span>@Model.AvailableFrom</span>
            </div>
            <div class="row m-0 rental-list-buttons">
                <div class="col-12 mb-1">
                    <a class="btn btn-light" href="@Url.Action("RentalDetails", "Home", new { id = Model.Id })">Detaljer</a>
                </div>
                <div class="col-12 mb-1">
                    <a class="btn btn-light" href="@Url.Action("RentalDetails", "Home", new { id = Model.Id })#intresseanmalan">Intresseanmälan</a>
                </div>
            </div>
        </div>
    </div>
</div>