@model Landlord_project.Models.RentalModel
@{
    ViewData["Title"] = "Bostäder";
}
@section HeadSection{
    <link rel="stylesheet" href="~/node_modules/jquery-ui-dist/jquery-ui.css">
}
<div id="rental-list-container" class="row no-gutters">
    <div class="col-12 mt-3 mb-3">
        <h1 class="display-4 mb-4">
            Lediga Hyresobjekt
            @if (Model.Residence.Any())
            {
                <span id="rental-list-total">(@Model.NumResidences)</span>
            }
        </h1>
        <hr />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Hem</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hyresledigt</li>
            </ol>
        </nav>
    </div>
    <div id="rental-list-filters" class="col-12 mb-3 p-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 mt-md-0 mt-3">
                <label for="rental-rent-amount">Hyra:</label>
                <span id="rental-rent-amount"></span>
                <div id="rental-rent-slider"></div>
            </div>
            <div class="col-sm-12 col-md-4 mt-md-0 mt-3">
                <label for="rental-room-amount">Antal rum:</label>
                <select name="rental-room-amount" id="rental-room-amount">
                    @if (Model.MaxRooms >= 0)
                    {
                        for (int i = 1; i < Model.MaxRooms + 1; i++)
                        {
                            <option>@i</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div id="rental-list-thumb-container" class="row no-gutters">
            @if (Model.Residence.Any())
            {
                @await Html.PartialAsync("_ResidenceThumb", Model.Residence)
            }
            else
            {
                <div class="col-12">
                    <h1>Finns inga hyresobjekt tillgängliga just nu.</h1>
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#rental-rent-slider").slider({
                range: "min",
                value: parseInt(@Model.MinRent),
                min: parseInt(@Model.MinRent),
                max: parseInt(@Model.MaxRent),
                slide: function (event, ui) {
                    $("#rental-rent-amount").text(ui.value + " kr");
                }
            });
            $("#rental-rent-amount").text($("#rental-rent-slider").slider("value") + " kr");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#rental-rent-slider").on("slidechange", function (event, ui) {
                //LoadingScreen(true);
                var price = parseInt(ui.value);
                var rooms = parseInt($("#rental-room-amount").val())

                $.ajax({
                    url: "Home/FilterPrice",
                    type: "GET",
                    data: { price, rooms },
                    success: function (data) {
                        $('#rental-list-thumb-container').empty();
                        $('#rental-list-thumb-container').html(data);

                        var numItems = $('#rental-list-thumb-container .residence-thumb').length;
                        $('#rental-list-total').text("(" + parseInt(numItems) + ")");
                        //LoadingScreen(false);
                    }
                });
            });
        });
    </script>
    <script>
    $(function () {
        var select = $("#rental-room-amount");
        var slider = $("<div id='rental-room-slider'></div>").insertAfter(select).slider({
            min: 1,
            max: parseInt(@Model.MaxRooms),
            range: "min",
            value: select[0].selectedIndex + 1,
            slide: function (event, ui) {
                select[0].selectedIndex = ui.value - 1;
            }
        });
        $("#rental-room-amount").on("change", function () {
            //LoadingScreen(true);

            slider.slider("value", this.selectedIndex + 1);

            var price = parseInt($("#rental-rent-slider").slider("value"));
            var rooms = parseInt(this.selectedIndex + 1);

            $.ajax({
                url: "Home/FilterPrice",
                type: "GET",
                data: { rooms, price },
                success: function (data) {
                    $('#rental-list-thumb-container').empty();
                    $('#rental-list-thumb-container').html(data);

                    var numItems = $('#rental-list-thumb-container .residence-thumb').length;
                    $('#rental-list-total').text("(" + parseInt(numItems) + ")");
                    //LoadingScreen(false);
                }
            });
        });

        $("#rental-room-slider").on("slidestop", function (event, ui)
        {
            //LoadingScreen(true);
            var price = parseInt($("#rental-rent-slider").slider("value"));
            var rooms = parseInt(ui.value);

            $.ajax({
                url: "Home/FilterPrice",
                type: "GET",
                data: { rooms, price },
                success: function (data) {
                    $('#rental-list-thumb-container').empty();
                    $('#rental-list-thumb-container').html(data);

                    var numItems = $('#rental-list-thumb-container .residence-thumb').length;
                    $('#rental-list-total').text("(" + parseInt(numItems) + ")");

                    //LoadingScreen(false);
                }
            });
        });
    });
    </script>
}