@model Landlord_project.Models.RentalModel
@{
    ViewData["Title"] = "Bostäder";
}
@section HeadSection{
    <link rel="stylesheet" href="~/node_modules/jquery-ui-dist/jquery-ui.css">
}
<div id="rental-list-container" class="row no-gutters">
    <div class="col-12 mt-3 mb-3">
        <h1 class="display-4 mb-4">
            Lediga Hyresobjekt
            @if (Model.Residence.Any())
            {
                <span id="rental-list-total">(@Model.NumResidences)</span>
            }
        </h1>
        <hr />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Hem</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hyresledigt</li>
            </ol>
        </nav>
    </div>
    <div id="rental-list-filters" class="col-12 mb-3 p-4">
        @await Html.PartialAsync("_RentalFilters", Model) 
    </div>
    <div class="col-12">
        <div id="rental-list-thumb-container" class="row no-gutters">
            @if (Model.Residence.Any())
            {
                @await Html.PartialAsync("_ResidenceThumb", Model.Residence)
            }
            else
            {
                <div class="col-12">
                    <h1>Finns inga hyresobjekt tillgängliga just nu.</h1>
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#rental-rent-slider").slider({
                range: true,
                values: [parseInt(@Model.MinRent), parseInt(@Model.MaxRent)],
                min: parseInt(@Model.MinRent),
                max: parseInt(@Model.MaxRent),
                slide: function (event, ui) {
                    $("#rental-rent-amount").text(ui.values[0] + " kr - " + ui.values[1] + " kr");
                }
            });
            $("#rental-rent-amount").text($("#rental-rent-slider").slider("values", 0) + " kr - " + $("#rental-rent-slider").slider("values", 1) + " kr");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#rental-rent-slider").on("slidechange", function (event, ui) {
                //LoadingScreen(true);
                var rooms = parseInt($("#rental-room-amount").val());
                var minPrice = $("#rental-rent-slider").slider("values", 0);
                var maxPrice = $("#rental-rent-slider").slider("values", 1);
                var area = $('#SelectedArea').val();
                var sortby = $('#SortBy').val();
                Filter(rooms, minPrice, maxPrice, area, sortby);
            });
        });
    </script>
    <script>
    $(function () {
        var select = $("#rental-room-amount");
        var slider = $("<div id='rental-room-slider'></div>").insertAfter(select).slider({
            min: 1,
            max: parseInt(@Model.MaxRooms),
            range: "min",
            value: select[0].selectedIndex + 1,
            slide: function (event, ui) {
                select[0].selectedIndex = ui.value - 1;
            }
        });
        $("#rental-room-amount").on("change", function () {
            //LoadingScreen(true);

            slider.slider("value", this.selectedIndex + 1);

            var rooms = parseInt(this.selectedIndex + 1);
            var minPrice = $("#rental-rent-slider").slider("values", 0);
            var maxPrice = $("#rental-rent-slider").slider("values", 1);
            var area = $('#SelectedArea').val();
            var sortby = $('#SortBy').val();

            Filter(rooms, minPrice, maxPrice, area, sortby);
        });

        $("#rental-room-slider").on("slidestop", function (event, ui)
        {
            //LoadingScreen(true);
            var rooms = parseInt(ui.value);

            $.ajax({
                url: "Home/FilterPrice",
                type: "GET",
                data: { rooms, minPrice: parseInt($("#rental-rent-slider").slider("values", 0)), maxPrice: parseInt($("#rental-rent-slider").slider("values", 1)) },
                success: function (data) {
                    $('#rental-list-thumb-container').empty();
                    $('#rental-list-thumb-container').html(data);

                    var numItems = $('#rental-list-thumb-container .residence-thumb').length;
                    $('#rental-list-total').text("(" + parseInt(numItems) + ")");
                    //LoadingScreen(false);
                }
            });
        });
    });
    </script>
    <script>
        function LoadThumbs() {
            $('.residence-thumb').each(function (index) {
                console.log(index + ": " + $(this).text());
                $(this).delay(100).animate({ opacity: 1 }, 700);
            });
        };
    </script>
    <script>
        $('#SortBy').on('change', function () {
            console.log($('#SortBy').val());
            var rooms = parseInt($("#rental-room-amount").val());
            var minPrice = $("#rental-rent-slider").slider("values", 0);
            var maxPrice = $("#rental-rent-slider").slider("values", 1);
            var area = $('#SelectedArea').val();
            var sortby = $('#SortBy').val();

            Filter(rooms, minPrice, maxPrice, area, sortby);
        });
    </script>
    <script>
        $('#SelectedArea').on('change', function () {
            var rooms = parseInt($("#rental-room-amount").val());
            var minPrice = $("#rental-rent-slider").slider("values", 0);
            var maxPrice = $("#rental-rent-slider").slider("values", 1);
            var area = $(this).val();
            var sortby = $('#SortBy').val();

            Filter(rooms, minPrice, maxPrice, area, sortby);
        });

        function Filter(rooms, minPrice, maxPrice, area, sortby) {
            rooms = parseInt(rooms);
            minPrice = parseInt(minPrice);
            maxPrice = parseInt(maxPrice);
            area = area;
            sortby = parseInt(sortby);

            console.log("rooms: " + rooms);
            console.log("minPrice: " + minPrice);
            console.log("maxPrice: " + maxPrice);
            console.log("area: " + area);
            console.log("sortby: " + sortby);

            $.ajax({
                url: "Home/FilterPrice",
                type: "GET",
                data: { rooms, minPrice, maxPrice, area, sortby },
                success: function (data) {
                    $('#rental-list-thumb-container').empty();
                    $('#rental-list-thumb-container').html(data);

                    var numItems = $('#rental-list-thumb-container .residence-thumb').length;
                    $('#rental-list-total').text("(" + parseInt(numItems) + ")");
                    //LoadingScreen(false);
                }
            });
        }
    </script>
}