@model List<Landlord_project.Models.ResidenceModel>
@{
    ViewData["Title"] = "Bostäder";
}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4 mb-4">Lediga hyresobjekt</h1>
        </div>
    </div>
    <div class="col-12">
        <div class="row no-gutters">
            @if (Model.Any())
            {
                @foreach (var residence in Model)
                {
                    <div class="col-sm-12 col-md-4 text-center border">
                        <div class="col-12 mt-3">
                            <img src="@Url.Action("GetImage", "Home", new { Id = residence.Id})" />
                        </div>
                        <div class="col-12">
                            <label asp-for="@residence.Address"></label>
                            <h1>@residence.Address</h1>
                        </div>
                        <div class="col-12">
                            <label asp-for="@residence.Area"></label>
                            <h3>@residence.Area</h3>
                        </div>
                        <div class="col-12">
                            <label asp-for="@residence.Rooms"></label>
                            <span>@residence.Rooms</span>
                        </div>
                        <div class="col-12">
                            <label asp-for="@residence.Size"></label>
                            <span>@residence.Size kvm</span>
                        </div>
                        <div class="col-12">
                            <label asp-for="@residence.RentalPrice"></label>
                            <span>@residence.RentalPrice kr</span>
                        </div> <div class="col-12">
                            <label asp-for="@residence.AvailableFrom"></label>
                            <span>@residence.AvailableFrom</span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <h1>Finns inga hyresobjekt tillgängliga just nu.</h1>
                </div>
            }
        </div>
    </div>
</div>